html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.navbar-default {
    background-color: cornsilk;
    border-color: gainsboro;
    margin-top: 10px;
}

.container
{
    /* center contents */
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/* colors for navbar */
.navbar-default .navbar-brand .blue
{
    color: #537fbe;
}
.navbar-default .navbar-brand .red
{
    color: #ea433b;
}
.navbar-default .navbar-brand .yellow
{
    color: #f5b82e;
}
.navbar-default .navbar-brand .green
{
    color: #2e944b;
}

.astext
{
    color: #777;
    background:none;
    border:none;
    margin: 15px;
    padding: 0;
}

.astext:hover
{
    color: black;
}

main .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

main img
{
    /* constrain images on small screens */
    max-width: 100%;
}

main td
{
    /* left-align tables' cells */
    text-align: left;
}

main tfoot
{
    /* boldface tables' footers */
    font-weight: bold;
}

footer {
    position: absolute;
    bottom: 0;
    /* Set the fixed height of the footer here */
    height: 40px;
    right: 0;
    left: 0;
}